body {
    font-family: Arial, sans-serif;
    background-image: url(./12978520_5110786.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1,h3{
   color: white;
}
span{
    color: darkred;
    background-color: yellow;
    padding: 2px;
    font-family: ;
}

.container {
    text-align: center;
}

.counter {
    font-size: 48px;
    font-weight: bold;
    color: yellow;
    margin-bottom: 50px;
    border: 2px solid yellow;
    height: 100px;
    padding: 20px;
    border-radius: 100px;
    background-color: dimgray;
    

}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.increment {
    background-color: #28a745;
    color: #fff;
}

.reset {
    background-color: #dc3545;
    color: #fff;
}

#ramzan{
    width: 300px;
}